@import '_normalize';
@import '_reset';
@import '../fonts/stylesheet.css';
@import './owl/_theme.default';
@import './owl/owl.carousel';

@mixin tr($s) {
	transition: all $s ease-in;
}
@mixin my_pos ($top: 50%, $left: 50%, $tx: -50%, $ty: -50%) {
	position: absolute;
	top: $top;
	left: $left;
	transform: translate($tx, $ty);
}
@mixin text-shadow {
	text-shadow: 1px 1px #000;
}
$light-color: #fff;
$dark-color: #000;

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 10px;
	height: 100%;
	scroll-behavior: smooth;
}

body{
	font-family: 'AdihausDIN',Helvetica,Arial,sans-serif;
	min-height: 100%;
	font-size: 1.6rem;
	line-height: 1.6;
	color: $dark-color;
	position: relative;	
}

//Header*****************************************************************************************
.header {
	background-color: $dark-color;
	color: #ebedee;
	@include tr(.4s);	
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 10;
}

.nav-top {
	max-width: 1200px;
	width: 98%;
	margin: 0 auto;
	display: flex;
	justify-content: flex-end;
	height: 32px;
	&__links {
		display: flex;
		justify-content: center;
		align-items: center;
		li {
			border-right: 1px solid #767677;
			padding: 0 10px;
			font-size: 1.1rem;
			display: flex;
			align-items: center;
			height: 12px;
		}
		li:nth-child(4),
		li:nth-child(5) {
			border: none;
		}
	}
	&__wrap {
		background: linear-gradient(90deg,$dark-color 30%,transparent 50%),linear-gradient(180deg,$dark-color 0,#363738);
	}
	&__link {
		text-decoration: none;
		color: inherit;
		font-weight: 400;
		cursor: pointer;
		text-transform: uppercase;
		@include tr(.2s);
		&:hover,
		&:focus,
		&:active  {
			opacity: .7;
		}
		&--boldest {
			font-weight: 700;
			font-size: 1.2rem;
			padding: 0 2px;
			color: #fff;
			&:hover,
			&:focus,
			&:active {
				background-color: #fff;
				color: $dark-color;
				opacity: 1;
			}
		}
	}
	&__login {
		display: flex;
		justify-content: space-around;
		align-items: center;
		&:hover #profile,
		&:active #profile,
		&:focus #profile {
			stroke: #02f56f;
		}
	}
}
#profile {
	margin-left: 5px;
    height: 24px;
    width: 24px;
	stroke: currentColor;
}
.nav-search {
	width: 100%;
	position: absolute;
	height: 100vh;
	z-index: 100;
	background-color: rgba(197, 192, 201, .8);
	top: 0;
	left: 0;
	transform: translateY(-100%);
	@include tr(.7s);
	&__wrap {
		display: flex;
		height: 80px;
		width: 100%;
		top: 0;
		left: 0;
	}
	&__img {
		@include my_pos(5%, 20%, -50%, -50%);
		width: 24px;
		height: 24px;
	}
	&__form {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #fff;
	}
	&__input {
		width: 50%;
		padding: 5px;
		font-size: 2rem;
		outline: none;
		border: none;
		line-height: 1;
		&::placeholder {
			padding-left: 5px;
		}
	}
	&__close {
		width: 20px;
		height: 20px;
		cursor: pointer;
		@include tr(.3s);
		&:hover,
		&:active,
		&:focus {
			transform: rotate(-180deg);
		}
	}

}

.nav-bottom {
	max-width: 1200px;
	width: 98%;
	margin: 0 auto;
	height: 48px;
	display: flex;
	justify-content: space-between;
	&__left {
		display: flex;
		justify-content: flex-start;
	}
	&__logo {
		margin-right: 10px;
		height: 70px;
		width: 70px;
		position: relative;
		top: -25px;
		cursor: pointer;
		@include tr(.3s);
		&:hover,
		&:focus {
			transform: scale(1.1);
		}
	}
	&__tabs {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	&__tab {
		display: flex;
		align-items: center;
		padding: 0 5px;
		font-size: 1.5rem;
		font-weight: 400;
		height: 100%;
		@include tr(.2s);
		&:nth-child(4)::before,
		&:nth-child(6)::before {
			content: '';
			width: 1px;
			background-color: rgba(255, 255, 255, 0.3);;
			height: 50%;
			position: relative;
			right: 4px;
		}
		&:hover,
		&:focus {
			background-color: #fff;
		}
		&:hover .nav-bottom__link,
		&:focus .nav-bottom__link,
		&:active .nav-bottom__link {
			color: $dark-color;
		}
		&:hover .tabs,
		&:focus .tabs,
		&:active .tabs {
			display: block;
		} 
	}
	&__link {
		text-decoration: none;
		color: #fff;
		font-family: 'AdineuePRObold',Helvetica,Arial,sans-serif;
		font-weight: 600;
	}
	&__right {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		position: relative;
	}
	&__search {
		padding: 0 30px;
		height: 32px;
		width: 140px;
		color: $dark-color;
		border: none;
		&::placeholder {
			font-size: 1.3rem;
		}
	}
	&__bag-link {
		padding: 0 15px;
		display: flex;
		align-items: center;
		height: 100%;
		margin-left: 1px;
		cursor: pointer;
		text-decoration: none;
		&:hover,
		&:focus,
		&:active {
			background-color: #fff;
		}
		&:hover #bag-inactive,
		&:focus #bag-inactive,
		&:active #bag-inactive {
			stroke: $dark-color;
		}
		&:hover .nav-bottom__bag-count,
		&:focus .nav-bottom__bag-count,
		&:active .nav-bottom__bag-count {
			display: block;
		}
	}
	&__bag-count {
		font-size: 2rem;
		font-weight: 600;
		color: $dark-color;
		background-color: #fff;
		width: 310px;
		text-align: center;
		padding: 17px 0;
		position: absolute;
		top: 100%;
		right: 0;
		display: none;
		z-index: 2;
	}
}
.tabs {
	position: absolute;
	z-index: 5;
	top: 80px;
	left: 0;
	background-color: #fff;
	width: 100%;
	display: none;
	padding: 30px 5px 10px 5%;
}
.tabs-list {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	&__title {
		font-weight: 700;
		font-size: 1.6rem;
		color: #000;
		text-transform: uppercase;
		font-family: 'AdineuePROBold',Helvetica,Arial,sans-serif;
	}
	&__item {
		width: 160px;
		margin-right: 20px;
		li {
			margin-top: 2px;
		}
		li a {
			font-size: 1.4rem;
			text-decoration: none;
			color: rgba(0, 0, 0, .9);
			&:hover,
			&:active,
			&:focus {
				text-decoration: underline;
			}
		}
		ul {
			height: 370px;
			border-bottom: 1px solid rgba(0, 0, 0, .3);
			margin-top: 10px;
		}
	}
	&--spots ul,
	&--brands ul {
		height: auto;
		padding-bottom: 10px;
		border: none;
	}
	&__linkAll {
		font-weight: 700;
		font-size: 1.4rem;
		text-decoration: none;
		color: rgba(0, 0, 0, .9);
		line-height: 4rem;
		font-family: 'AdineuePROBold',Helvetica,Arial,sans-serif;
		&:hover,
		&:active,
		&:focus {
			text-decoration: underline;
		}
		&--twoColumns {
			line-height: 1;
		}
	}
	&__img-wrap {
		margin-top: 10px;
		width: 160px;
		height: 75px;
		display: block;
		overflow: hidden;
	}
}
#section__sports ul {
	height: auto;
	padding-bottom: 10px;
	border: none;
}

#search,
#bag-inactive {
	width: 24px;
	height: 24px;
	stroke: #fff;
}
#search {
	position: absolute;
	left: 5px;
}

//Feedback block**************************************************************************************

.feedback {
	position: fixed;
	right: 0;
	top: 0;
	z-index: 100;
	display: flex;
	height: 100%;
	width: 400px;
	background-color: $light-color;
	transform: translateX(100%);
	@include tr(.3s);
	&__btn {
		position: absolute;
		top: 50%;
		left: -90px;
		display: block;
		transform: rotate(-90deg);
		height: 40px;
		width: 140px;
		text-align: center;
		text-decoration: none;
		padding: 5px;
		background: #eee;
		color: $dark-color;
		font-size: 1.8rem;
		border: 2px solid #ccc;
		letter-spacing: 2px;
	}
	&__block {
		padding: 50px 30px;
	}
	&__title {
		text-transform: uppercase;
		font-size: 2.6rem;
		font-family: 'AdineuePROBold',Helvetica,Arial,sans-serif;
		letter-spacing: 1.5px;
		font-style: normal;
		margin: 0 0 20px 0;
	}
	&__about {
		font-size: 1.6rem;
		letter-spacing: .5px;
		line-height: 1.8;
	}
	&__help {
		color: $dark-color;
		font-size: 1.5rem;
		letter-spacing: 2px;
		text-transform: uppercase;
		outline: none;
	}
	&__close {
		right: 10px;
		top: 10px;
		position: absolute;
		width: 20px;
    	height: 20px;
    	cursor: pointer;
	}
	&__active {
		transform: translateX(0);
	}
}	

//Main*********************************************************************************************
.top-block {
	padding-top: 80px;
	position: relative;
	height: 550px;
	overflow: hidden;
	background: #ccc;
	&__img {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		source {
			width: 100%;
			height: auto;
		}
	}
	&__title,
	&__sup-title {
		font-family: AdineuePRO,Helvetica,Arial,sans-serif;
		color: $light-color;
		position: absolute;
		left: 120px;
		top: 40%;
		z-index: 2;
		font-size: 3.6rem;
		width: 50%;
		line-height: 1.2;
		height: 50px;
		overflow: hidden;
		text-overflow: ellipsis;
		@include text-shadow();
	}
	&__sup-title {
		font-size: 2rem;
		max-height: 200px;
		top: 50%;
		width: 350px;
		max-width: 40%;
	}
}
.sub-block {
	padding: 25px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 25px;
	text-align: center;
	color: #fff;
	&__card {
		height: 550px;
		position: relative;
		// grid-area: 1 / 1 / 2 / 2;
		overflow: hidden;
		background-color: $dark-color;
	}
	&__img {
		@include my_pos();
		height: 100%;
		width: 100%;
		object-fit: cover;
		&--left {
			@include my_pos(0, 50%, -50%, 5%);
			height: 80%;
			width: 90%;
		}
	}
	&__title {
		@include my_pos( 65%, 50%, -50%, -50%);
		font-size: 2rem;
		width: 75%;
		max-height: 70px;
		text-overflow: ellipsis;
		overflow: hidden;
		@include text-shadow();
	}
	&__article {
		@include my_pos(72%, 50%, -50%, -50%);
		font-size: 1.6rem;
		width: 75%;
		max-height: 70px;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}



//Button*******************************************************************************************
.btn {
	display: block;
	background-color: #fff;
	width: 160px;	
	padding: 15px 5px 15px 35px;
	font-size: 1.4rem;
	text-decoration: none;
	font-family: 'AdihausDIN',Helvetica,Arial,sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color: #000;
	letter-spacing: 2px;
	text-align: left;
	position: relative;
	z-index: 1;
	&__arrow {
		position: absolute;
		width: 50px;
		height: 20px;
		fill: rgba(0, 0, 0, 1);
		&--light {
			fill: rgba(255, 255, 255, 1);
		}
	}
	&--light {	
		&::before {
		content: '';
		position: absolute;
		top: 3px;
		left: 3px;
		display: inline-block;
		width: 100%;
		height: 100%;
		z-index: 0;
		border: 1px solid #fff;
		}
		&:hover,
		&:focus,
		&:active {
			color: rgba(0, 0, 0, .6);
		}
		&:hover .btn__arrow,
		&:focus .btn__arrow,
		&:active .btn__arrow {
			fill: rgba(0, 0, 0, .6);
		}
	}
	&--dark {
		color: #fff;
		background-color: $dark-color;
		&::before {
		content: '';
		position: absolute;
		top: 4px;
		left: 4px;
		display: inline-block;
		width: 100%;
		height: 100%;
		z-index: 0;
		border: 1px solid $dark-color;
		}
		&:hover,
		&:focus,
		&:active {
			color: rgba(255, 255, 255, .6);
		}
		&:hover .btn__arrow,
		&:focus .btn__arrow,
		&:active .btn__arrow {
			fill: rgba(255, 255, 255, .6);
		}

	}
	&__home-block {
		@include my_pos(65%, 195px, -50%, -50%);
		z-index: 2;
		padding: 15px 5px 15px 35px;
	}
	&__top-block {
		@include my_pos(85%, 50%, -50%, -50%);
		z-index: 2;
	}
	&__women {
	// @include my_pos(80%, 23%, -50%, -50%);
		padding: 15px 5px 15px 30px;
		width: 200px;
	}
	&__men {
	// @include my_pos(65%, 23%, -50%, -50%);
		padding: 15px 5px 15px 30px;
		margin: 15px 0;
		width: 180px;
	}
	&__link-feedback {
		margin: 40px 0 20px 0;
		width: 200px;
		border: 2px solid $dark-color;
		padding: 10px 5px 10px 30px;
		&:hover,
		&:focus,
		&:active {
			color: rgb(82, 79, 79);
		}
		&:hover .btn__arrow,
		&:focus .btn__arrow,
		&:active .btn__arrow {
			fill: rgb(82, 79, 79);
		}
	}
}





//Previews list********************************************************************************
.preview-items {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 25px;
	padding: 0 25px;
	margin: 25px 0;
	justify-content: center;
}
.preview-item {
	height: 235px;
	position: relative;
	text-align: center;
	width: 100%;
	padding-bottom: 15px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -1;
	}
	&__link {
		font-family: 'AdihausDIN',Helvetica,Arial,sans-serif;
		text-transform: uppercase;
		font-size: 1.4rem;
		letter-spacing: 2px;
		color: $dark-color;
		font-weight: 700;
		@include tr(.2s);
		padding: 0 2px;
		&:hover,
		&:focus,
		&:active {
			background-color: $dark-color;
			color: #fff;
		}	
	}
}

//Block double of header************************************************************************
.block-double {
		overflow: hidden;
		max-height: 480px;
		position: relative;
		&__wrap {
			position: absolute;
			width: 25%;
			height: 100%;
			z-index: 2;
			top: 25%;
			left: 15%;
			width: 350px;
		}	
		&__title {
			color: $light-color;
			margin-bottom: 15px;
			font-size: 3.6rem;
			line-height: 32px;
			@include text-shadow();
		}
		&__sub-title {
			@include text-shadow();
			color: $light-color;
			font-family: 'AdihausDIN',Helvetica,Arial,sans-serif;
			letter-spacing: 1.5px;
		}
}




//Slider****************************************************************************************
.carusel {
	text-align: center;
	padding: 40px 0;

	&__title {
		font-size: 3rem;
    	line-height: 24px;
		font-weight: 600;
		margin-bottom: 15px;
	}
	&__header {
		font-size: 3rem;
	}
	&__wrap {
		width: 1000px;
		margin: 0 auto;
		height: 420px;
		overflow: hidden;
		position: relative;
	}
	&__item {
		height: 350px;
		width: 215px;
		display: block;
		margin: 0;
		border: 1px solid transparent;
		@include tr(.2s);
		text-align-last: left;
		text-decoration: none;
		color: $dark-color;
		overflow: hidden;
		cursor: pointer;
		&:hover,
		&:focus,
		&:active {
			border: 1px solid $dark-color;
		}
	}
	&__wrap-img {
		position: relative;
		width: 215px;
		height: 215px;
		overflow: hidden;
		img {
			@include my_pos();
		}	
	}
	&__bottom {
		padding: 0 5px 0 15px;
	}
	&__title {
		font-size: 1.6rem;
		padding: 0;
		margin: 5px 0;
		text-overflow: ellipsis;
	}
	&__sup-title {
		color: #767677;
		font-size: 1.4rem;
		padding-top: 5px;
		text-overflow: ellipsis;
	}
}
.owl-nav {
	position: absolute;
	@include my_pos(20%, 50%, -50%, -50%);
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 0 11px;
}
.owl-stage-outer {
	padding-left: 15px;
}
.owl-next,
.owl-prev,
.owl-next .disabled {
	width: 24px;
	height: 24px;
	border-radius: 0 !important;
	background: #fff !important;
	outline: none;
	&:hover {
		background: $dark-color !important;
	}
	span {
		font-size: 3rem;
		line-height: .8;
	}
}
.owl-dot span {
	border-radius: 0 !important;
	background-color: $dark-color !important;
	width: 20px !important;
    height: 2px !important;
	margin: 5px 4px !important;
}
.owl-dot.active span {
	height: 6px !important;
	outline: none;
}
.owl-dot {
	outline: none;
	&:hover span {
		height: 6px !important;
	}
}
.owl-dots {
	margin-top: 15px;
} 







//FOOTER******************************************************************************************

//Sing Up block*************************************************************************************
.singUp {
	background-color: #ede734;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 40px 20px 40px 40px;
	&__title {
		font-size: 2.6rem;
    	line-height: 24px;
		max-width: 450px;
		font-weight: 700;
		text-transform: uppercase;
		font-family: 'AdineuePRO',Helvetica,Arial,sans-serif;
	}
}

//footer link list*********************************************************************************
.nav-links {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px 10px;
	&__list {
		display: flex;
		justify-content: space-between;
		width: 90%;
		max-width: 900px;
	}
	&__items {
		width: 185px;
		li a {
			color: $dark-color;
			text-decoration: none;
			font-size: 1.4rem;
			font-family: 'AdihausDIN',Helvetica,Arial,sans-serif;
			line-height: 23px;
			letter-spacing: 1px;
			&:hover,
			&:active,
			&:focus  {
			text-decoration: underline;
			}
		}
	}
	&__title {
		text-transform: uppercase;
		font-size: 1.8rem;
		font-weight: 700;
		color: $dark-color;
		text-decoration: none;
		&:hover,
		&:active,
		&:focus  {
			text-decoration: underline;
		}
	}
}
//Helpers******************************
.disable {
	&:hover,
	&:active,
	&:focus {
	text-decoration: none;
	}
}

//Bottom link copy*******************************************************
.copy {
	height: 40px;
	font-size: 1.2rem;
	color: #c8cbcc;
	background-color: #363738;
	&__wrap {
		margin: 0 auto;
		height: 100%;
		max-width: 1200px;
		width: 80%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	a {
		text-decoration: none;
		color: $dark-color;
		font-size: 1.2rem;
		color: #c8cbcc;
		@include tr(.1s);
		&:hover,
		&:active,
		&:focus {
			color: $light-color;
		}
	}
	&__wrap-link {
		display: flex;
		li {
			padding: 0 10px;
			position: relative;
			::before {
				position: absolute;
				content: '';
				display: block;
				width: 1px;
				height: 80%;
				background-color: #c8cbcc;
				left: 0;
			}
		}
	}
	&__location {
		padding: 0 5px 0 50px;
		display: block;
	}
	&__wrap-loc {
		display: flex;
		position: relative;
	} 
	&__flag {
		position: absolute;
		left: 20px;
		top: 2px;
		width: 20px;
		height: 12px;
	}
}


@import './media';